div#wp_super_edit_installer {
	position: relative;
	width: 100%;
}

div.wp_super_edit_install {
	width: 100%;	
	position: absolute;
	top: 0;
	margin: 2em;
	padding: 1em;
	text-align: center;
}

div#wp_super_edit_install_scanner {
	font-weight: bold;
	border: 1px solid #F00;
	background: #333;
	color: #CCC;
}

div#wp_super_edit_install_wait {
	font-weight: bold;
	border: 1px solid #FF3;
	background: #F00;
	color: #FF3;
}

div#wp_super_edit_install_form {
	background: #FF3;
	border: 1px solid #F00;
}

div#wp_super_edit_null {
	display: none;
}

div#wp_super_edit_ui_menu {
	margin: .5em;
	padding: .5em;
	border-bottom: 1px solid #ccc;
} 

div#wp_super_edit_ui_menu ul {
	margin: 0;
	padding: 0;
	clear: both;
} 

div#wp_super_edit_ui_menu ul li {
	display: inline;
	list-style-type: none;
}

div#wp_super_edit_ui_menu ul li a {
	margin: 1em 2em;
	padding: .3em;
	text-decoration: none;
}

div#wp_super_edit_ui_menu ul li a:hover {
	background: #c1c1c1;
}

div#wp_super_edit_ui_menu ul li.wp_super_edit_ui_current h3 {
	display: inline;
	margin: .5em 1em 0 1em;
	padding: .5em;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #fff;
}

div#wp_super_edit_deactivate {
	margin: .5em;
	padding: .5em;
	background: #FF3;
	border: 1px solid #ccc;
}

div#wp_super_edit_ui_menu ul li.wp_super_edit_ui_current h3 a {
	margin: 0;
	padding: 0;
	border: none;
}

div#wp_super_edit_button_save {
	width: 19%;
	margin: 0;
	padding: 0;
	float: right;
	border-left: 4px solid #448ABD;
}

div#wp_super_edit_buttons {
	clear: both;
}

div#button_rows {
	float: left;
	margin: 0;
	padding: 0;
	width: 80%;
}

li.button_placeholder {
	list-style: none;
	width: 120px;
	float: left;
	height: 2.4em;
	margin: 0 4px 8px 0;
	padding: 1px;
	font-size: 0.8em;
	line-height: 1.1em;
	background-color: #FFFFFF;
	border: 1px dotted #333;
	cursor: move;
}

li.button_control {
	list-style: none;
	width: 120px;
	float: left;
	height: 2.4em;
	margin: 0 4px 8px 0;
	padding: 1px;
	font-size: 0.8em;
	line-height: 1.1em;
	background-color: #FFFFFF;
	border: 1px dotted #333;
	cursor: move;
}

div.button_separator {
	border-right: 4px dotted #666;
}	

div.button_info {
	width: 18px;
	height: 2.6em;
	float: left;
	margin: 0;
	margin: -1px 4px 0 -1px;
	padding: 0;
	background-color: #448abd;
	border-right: 2px solid #bbbbbb;
	text-align: center;
}	

div.button_info img {
	margin: 2px 0 0 0;
}	

ul.row_section {
	position: relative;
	float: none;
	width: 100%;
	height: 4em;
	padding: .4em 0;
	margin: 0;
}

h3.row_title {
	clear: both;
	font-size: 1.1em;
	background: #CFEBF7;
	margin: 0;
	padding: .2em;
	border-bottom: 4px solid #448ABD;
}

div#disabled_buttons {
	width: 19%;
	margin: 0;
	padding: 0;
	float: right;
	border-left: 4px solid #448ABD;
}

#disabled_buttons li.button_control {
	float: none;
	clear: both;
}


.sort_placeholder {
	width: 120px;
	background: #83B4D8;
	border: 2px dashed #14568A;
}

.clearer {
	clear: both;
}

.hidden {
	display: hidden;
}

/* UI Dialog */

/*
.ui-dialog-container - whole container
.ui-dialog-titlebar - title bar
.ui-dialog-titlebar-close - close button
.ui-dialog-titlebar-close-hover - close button hover
.ui-dialog-content - additional content style
.ui-dialog-buttonpane - for dialog buttons like yes, no, cancel
*/

.ui-dialog-container {
  background: #fff;
  border: 5px solid #C3DEF1;
}

.ui-dialog-titlebar {
  font: 12px bold helvetica, verdana, sans-serif;
  color: #fff;
  background: #0D324F;
}

/* Debug */

#wp_super_edit_debug {
	clear: both;
	margin: .5em;
	padding: .5em;
	background: #FF9;
	border: 2px solid #ccc;
}